

:root {
    --no-white: #FEFDED;
    --second: #A1C398;
    --third: #d3fed3;
    --contrast: #FA7070;

}

html {
    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    background-color: var(--no-white);
    box-shadow: 2px 0px 6px;
}

main {
    margin: 12px 0;
    text-align: center;
}

dialog[open] {
    top: 12%;
    margin-left: auto;
    margin-right: auto;
    height: 540px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--no-white);
    box-shadow: 0px 2px 4px black;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid transparent;

    font-size: 1.4rem;
}


dialog::backdrop {
    background-color: grey;
    opacity: 40%;
}

dialog[open] form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-column: 1 / -1;
}

form label input[type="text"] {
    line-height: 2.4rem;
    font-size: 1.2rem;
    font-style: italic;

    border-radius: 12px;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px black;

    padding: 4px 8px;
}
.books-grid {

    margin: 12px;
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    gap: 60px
}

.card {
    background-color: var(--no-white);
    box-shadow: 0px 2px 4px black;
    padding: 20px;
    border-radius: 12px;

    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
}

.primary-button, .secondary-button {
    font-size: 1.2rem;
    padding: 12px;
    width: 140px;
    border: none;
    background-color: var(--second);
    border-radius: 12px;
    cursor: pointer;
}

.red-button {
    font-size: 1.2rem;
    padding: 12px;
    width: 140px;
    border: none;
    background-color: var(--contrast);
    border-radius: 12px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}